<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <title>ChatSpace</title>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="sZnnEJCiCGmLI/mtEFno9zbElDlXXCTQSmOntdM6WxozpOWQa2cStnVk75PTRZCJQIpcavnotHV39TZE4Sjnjg==" />
  <link rel="stylesheet" media="all" href="/assets/application-e66896919920db9cb5b5d601a817ab1099691bfddbbd355c65b549b11d7b1958.css" data-turbolinks-track="reload" />
  <script src="/assets/application-11431a2aeef6ab6765ca93b518c6f8650fcffef3a41e7f77cc09f002e32bfd88.js" data-turbolinks-track="reload"></script>
</head>
<body>
  <div class='notification'>
  </div>

  <div class='wrapper'>
    <div class='side-bar'>
      <div class='header'>
        <h3 class='header__name'>
          Tanedamaru
        </h3>
        <ul class='header__lists'>
          <li class='list'>
            <a href="/groups/new"><i class="fa fa-pencil-square-o icon"></i>
            </a></li>
            <li class='list'>
              <a href="/users/8902/edit"><i class="fa fa-cog icon"></i>
              </a></li>
            </ul>
          </div>
          <div class='groups'>
            <div class='group'>
              <a href="/groups/21002/messages"><div class='group__name'>
                わちゃわちゃ
              </div>
              <div class='group__message'>
                can't sent two pictures
              </div>
            </a></div>
            <div class='group'>
              <a href="/groups/21252/messages"><div class='group__name'>
                NEW WORLD
              </div>
              <div class='group__message'>
                Title of this space is cool!
              </div>
            </a></div>
          </div>
        </div>

        <div class='chat'>
          <div class='header'>
            <div class='left-header'>
              <div class='left-header__title'>
                NEW WORLD
              </div>
              <ul class='left-header__members'>
                Member：
                <li class='member'>
                  Tanedamaru
                </li>
              </ul>
            </div>
            <div class='right-header'>
              <a class="right-header__button" href="/groups/21252/edit">Edit</a>
            </div>
          </div>
          <div class='messages js-messages'>
            <div class='message'>
              <div class='upper-message'>
                <div class='upper-message__user-name'>
                  Tanedamaru
                </div>
                <div class='upper-message__date'>
                  2018/09/11 07:21
                </div>
              </div>
              <div class='lower-message'>
                <p class='lower-message__content'>
                  HELLO,NEW WORLD
                </p>

              </div>
            </div>
            <div class='message'>
              <div class='upper-message'>
                <div class='upper-message__user-name'>
                  Tanedamaru
                </div>
                <div class='upper-message__date'>
                  2018/09/11 07:23
                </div>
              </div>
              <div class='lower-message'>
                <p class='lower-message__content'>
                  Title of this space is cool!
                </p>

              </div>
            </div>

          </div>
          <div class='form'>
            <form class="js-form" id="new_message" enctype="multipart/form-data" action="/groups/21252/messages" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="EcHBVLgIuys//ZaLenw5uTYcI3CtOR7sdmWJs99MY1hgdijXZYRggdJM0gw1zzmAjqxTfV7l+9WJE9mc68epVQ==" /><input class="form__message js-content" placeholder="type a message" type="text" name="message[content]" id="message_content" />
              <div class='form__mask'>
                <label class="form__mask__image" for="message_image"><i class="fa fa-picture-o icon"></i>
                  <input class="hidden js-file" type="file" name="message[image]" id="message_image" />
                </label></div>
                <input type="submit" name="commit" value="Send" class="form__submit" data-disable-with="Send" />
              </form>
            </div>
          </div>
        </div>

      </body>
      </html>
