//left
$top_user-name: #FFFFFF;
$left_space-name: #FFFFFF;
$left_space-text-color: #FFFFFF;
$left_top-background: #253141;
$left_background: #2f3e51;

$user-name-textsize: 16px;
$left_space-name-textsize: 15px;
$left_space-textsize: 11px;

//top
$top_space-name: #333333;
$top_space-name-textsize: 20px;

$space-member: #999999;
$space-member-textsize: 12px;

//chat-space
$chat-user: #434A54;
$chat-text: #434A54;
$chat-user-textsize: 16px;
$chat-text-textsize: 14px;

$chat-timestamp: #999999;
$chat-timestamp-textsize: 12px;
$chat-background: #f7f7f7;

//other
$banner     : #38AEF0;
$send_button: #38AEF0;

$border-color: #eeeeee;

$text-box-color: #434A54;
$text-box-textsize: 16px;
